h1 {
    text-align: center;
    color: aquamarine;
    font-family: monospace;
    font-size: 38px;
}

p {
    text-align: center;
    color: blueviolet;
    font-size: 24px;
    font-family: cursive;
}

img {
    align-self: center;
}

body {
    text-align: center;
    background: linear-gradient(#45edad 0%, #eb4034 100%);
    background-repeat: none;
}
